/* styles.css */
/*centrado del carrusel de las imagenes*/
.container {
    max-width: 1200px;
    margin: auto;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #099ecf, #cf2a6f);
    /* Para hacer el degradado de fondo en toda la pantalla */
    background-size: cover;

    h1, h2, h3, h4, h5, h6, p, li, ul, img {
        margin-bottom: 10px; /* Agrega un buen margen en la parte inferior de cada encabezado */
        line-height: 1.5; /* Interlineado adecuado para una mejor legibilidad */
        padding-right: 20px;
        padding-bottom: 15px;
        padding-left: 30px;  
    }
  
    h1 {
        font-size: 36px; /* Tamaño de letra grande para el encabezado principal */
    }
    h2 {
        font-size: 30px; /* Tamaño de letra grande para el segundo nivel de encabezado */
    }
    h3 {
        font-size: 24px; /* Tamaño de letra mediano para el tercer nivel de encabezado */
    }
    h4, li, div {
        font-size: 20px; /* Tamaño de letra mediano para el cuarto nivel de encabezado */
        text-align: justify;
    }
    h5 {
        font-size: 18px; /* Tamaño de letra pequeño para el quinto nivel de encabezado */
        text-align: justify;
    }
    h6 {
        font-size: 16px; /* Tamaño de letra pequeño para el sexto nivel de encabezado */   
    }
    p {
        font-size: 20px; /* Tamaño de letra mediano para el cuarto nivel de encabezado */
    }
}

.section {
    margin-bottom: 300px;
}

/* Estilos para el encabezado */
header {
    background-color: #000000;
    color: #fff;
    padding: 20px;
    text-align: center;
    /* Aplicar la animación al encabezado */
    animation: moveHeader .3s ease-out;
}

header h1 {
    margin: 0;
}

header h3 {
    margin: 0;
    margin-top: 5px;
    margin-bottom: 5px;
}

.imagen-pequena {
    width: 150px;
    /* Tamaño deseado en píxeles */
    height: auto;
    /* Esto mantendrá la proporción de aspecto */
}

.imagen-izquierda {
    width: 300px;
    position: absolute;
    /* Establece el posicionamiento absoluto para la imagen */
    height: auto;
    top: 0;
    /* Posición en la parte superior */
    left: 0;
    /* Posición en la parte izquierda */
}

/* Estilos para la barra de navegación */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
    /* Establecer transición para el cambio de posición */
    transition: transform 0.3s ease-out;
}

nav ul li a {
    color: #fff;
    /* Cambia el color del texto */
    text-decoration: none;
}

main {
    padding: 20px;
}

footer {
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 10px;
}

@media only screen and (max-width: 450px) {
    
    body {
        font-size: 16px; /* Reducir el tamaño de fuente para dispositivos móviles */
    }

    header {
        background-color: #000000;
        color: #fff;
        padding: 0px;
        text-align: center;
        /* Aplicar la animación al encabezado */
        animation: moveHeader .3s ease-out;
    }
    header h1 {
        margin: 0;
    }
    
    header h3 {
        margin: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .container {
        width: 150px; /* Ajustar el ancho al 100% */
        max-width: none; /* Eliminar el ancho máximo */
        padding: 0 10px; /* Reducir el relleno en dispositivos móviles */
        box-sizing: border-box; /* Incluir el padding en el cálculo del ancho */
    }
    img {
        width: 350px; /* Ajustar el ancho al 100% */
        max-width: none; /* Eliminar el ancho máximo */
        padding: 0 10px; /* Reducir el relleno en dispositivos móviles */
        box-sizing: border-box; /* Incluir el padding en el cálculo del ancho */
    }

    h1 {
        font-size: 24px; /* Reducir el tamaño de fuente para dispositivos móviles */
    }

    h2 {
        font-size: 20px; /* Reducir el tamaño de fuente para dispositivos móviles */
    }

    h3 {
        font-size: 18px; /* Reducir el tamaño de fuente para dispositivos móviles */
    }

    p {
        font-size: 16px; /* Reducir el tamaño de fuente para dispositivos móviles */
    }
    li {
        font-size: 10px;
        text-align: center; /* Centra el texto de los elementos <li> */
        margin-bottom: 10px; /* Agrega un buen margen en la parte inferior de cada elemento <li> */
        line-height: 1.5; /* Interlineado adecuado para una mejor legibilidad */
        padding-right: 20px;
        padding-bottom: 15px;
        padding-left: 30px;  
    }
    

    .imagen-izquierda {
        width: 35%; /* Haz que la imagen izquierda ocupe todo el ancho disponible */
        max-width: 200px; /* Limita el ancho máximo de la imagen */
        position: fixed; /* Cambia a posición fija para que se quede pegada a la izquierda */
        top: 0; /* Ajusta la posición superior a 0 para que se alinee con la parte superior */
        left: -30px; /* Ajusta la posición izquierda a 0 para que se pegue al borde izquierdo */
    }
    

    nav ul li {
        display: block; /* Cambia a bloques para que los elementos de navegación se apilen en dispositivos móviles */
        margin: 10px 0; /* Agrega espacio entre elementos */
    }
    
    .container {
        max-width: 1200px;
        margin: auto;
    }
    
}
